/*布局元素样式*/
#all{
	width:1252px;
	margin:0 auto;
}
#section:after{
    content: '';
    display:block;
    clear:both;
}
/*左侧栏*/
#left_aside{
	width:350px;
}
#left_aside>div{
	box-sizing:border-box;
	width:260px;
	margin:20px 40px;
}
#left_aside>div h2{
	border-bottom:1px solid #9BD7CC;
	color:#666;
	font-weight:normal;
	padding-left:25px;
	padding-bottom:5px;
	background:url(../images/jingpin-subject/icons.png) no-repeat left 3px;
}
/*上：主题分类*/
#left_aside div.titlekind li{
	float:left;
	width:67px;
	padding:10px 19px 10px 0px;
	text-align:center;
}

div.titlekind li a{
	color:#888;
	padding:5px;
}
div.titlekind li a:hover{
	background-color:#E2E8E5;
	color:#31C0A4;
}
/*中：排行榜*/
#left_aside>div.ranking h2{
	background-position:0 -28px;
}
div h2 b{
	font-size:12px;
	font-weight:normal;
	line-height:28px;
	padding:0 18px;
	background:url(../images/jingpin-subject/icons.png) no-repeat left -136px;
}
div.ranking ol{
	margin: 10px 0;
	color:#9E9E9E;
}
div.ranking ol li{
	position: relative;
	margin-bottom: 5px;
}
div.ranking ol li:after{
	content: "";
	clear: both;
	display: block;
}
div.ranking .index{
	padding:1px 10px;
	color:#FFF;
	background:#ADADAD;
	border-radius:2px;
	position: absolute;
	top:10px;
	left:10px;
}
div.ranking .index.top{
	background: #F39C11;
}
div.ranking a{
	color:#6F6F6F;
	font-size:15px;
	text-decoration: underline;
}
div.ranking .min{
	color:#999999;
	float:right;
	width:210px;
	margin-top: 10px;
}
div.ranking .min span{
	float: left;
}
div.ranking .min p{
	float: right;
}
div.ranking .min p b{
	padding:7px;
	background: url(../images/jingpin-subject/icons.png) no-repeat left -181px;
}
div.ranking .max{
	background: #fff;
	box-sizing: border-box;
	padding:10px;
    transition: background 0.3s linear;
}
div.ranking .max.hover{
    background: #EFF2F1;
  /*  box-sizing: border-box;
    padding:10px;*/
}
div.ranking .max:after{
	content: "";
	display: block;
	clear: both;
}
div.ranking .max>div{
	width:200px;
	float:right;
}
div.ranking .max>div>div{
	margin:10px 5px;
	float:right;
}
div.ranking .max>div>div>p{
	margin-top:75px;
}
/*下：猜你喜欢*/
div.liking h2 b{
	background:url(../images/jingpin-subject/icons.png) no-repeat left -159px;
}
#left_aside div.liking h2{
	background:url(../images/jingpin-subject/icons.png) no-repeat left -58px;
}

ul.liking_list{
	margin-left:40px;
	width:260px;
}
ul.liking_list li{
	float:left;
	position:relative;
	overflow:hidden;
}

ul.liking_list li img{
	margin:4px;
}
ul.liking_list li div.list_shilder{
	position:absolute;
	top:104px;
	left:64px;
	overflow:hidden;
	width:0;
	height:0;
	background-color:rgba(89,196,175,0.65);
	border-radius: 50%;
	z-index: 100;
	text-align:center;
	line-height: 0px;
	transition: all 0.5s linear;
}
ul.liking_list li:hover div.list_shilder{
	top:-97px;
	left: -136px;
	width: 400px;
	height: 400px;
	line-height: 400px;
}

ul.liking_list li div.list_shilder>span>a{
	text-decoration:underline;
	font-size:14px;
	color:#FFF;
}
/*details页面详情*/
/*轮播图*/
#banners{
	width:820px;
	height:230px;
	position:relative;
	overflow: hidden;
}
#banners>ul{
	position:absolute;
}
#banners div{
	position:absolute;
	bottom:10px;
	left:400px;
	
}
#banners div a{
	display:inline-block;
	width:8px;
	height:8px;
	margin:2px;
	border-radius:50%;
	background:#9c9c9c;
}
#banners div a:hover,#banners div a.hover{
	background:#12aca3;
}
/*详情标题*/
#details{
	width:820px;
	margin-right:20px;
}
#details h2{
	font-weight:normal;
	color:#666;
	padding-left:25px;
	padding-bottom:5px;
	background:url(../images/jingpin-subject/icons.png) no-repeat left -88px;
	margin:30px 0;
}
/*详情图*/
ul.subject_box li{
	float:left;
	margin-bottom:30px;
	margin-right:38px;
	border:1px solid #E4E4E4;
	position:relative;
	overflow:hidden;
}
ul.subject_box li:nth-child(4),ul.subject_box li:nth-child(8),ul.subject_box li:nth-child(12),ul.subject_box li:nth-child(16){
	margin-right:0;
}
ul.subject_box li:before{
	content:"";
	width:400px;
	height:400px;
	background:rgba( 255, 255, 255,0.5);
	position:absolute;
	transform:rotate(31deg);
	left:268px;
	bottom:-462px;
	transition:all 0.8s linear;
	/*left:68px;
	bottom:-142px;*/
}
ul.subject_box li:hover:before{
	left:48px;
	bottom:-122px;
}
ul.subject_box li:after{
	content:"";
	width:400px;
	height:400px;
	/*background:rgba( 150, 50, 100,0.5);*/
	background:rgba( 255, 255, 255,0.5);
	position:absolute;
	transform:rotate(31deg);
	left:-477px;
	bottom:379px;
	transition:all 0.8s linear;
	/*left:-277px;
	bottom:59px;*/
}
ul.subject_box li:hover:after{
	left:-257px;
	bottom:55px;
}
ul.subject_box li img{
	margin:4px;
}
ul.subject_box li div.shilder_box{
	position:absolute;
	width:176px;
	height:0px;
	top:90px;
	left:0;
	background:rgba(80,80,80,0.5);
	z-index:100;
	/*padding:20px;*/
	box-sizing:border-box;
	text-align:center;
	overflow:hidden;
	transform:rotate(75deg);
	transition:all 0.2s linear;
}
ul.subject_box li:hover>div.shilder_box{
	height:120px;
	transform:rotate(0deg);
}
div.shilder_box a{
	color:#fff;
	font-size:20px;
	font-weight:bold;
	font-family:Arail;
	border-bottom:3px solid #FFF;
	display:block;
	width:162px;
	height:65px;
	box-sizing:border-box;
	padding-top:10px;
	position:absolute;
	margin-left:4px;
	margin-top:30px;
}
/*页码*/
#page{
	width:400px;
	margin:10px auto 0;
}
#page li{
	float:left;
	margin-right:5px;
	height:36px;
	background-color:#F0F1F1;
	line-height:36px;
}
#page li a{
	display:block;
	color:#999999;
	padding:0 15px;
}
#page li:hover{
	background-color:#31C0A4;
}
#page li:hover a{
	color:#fff;
}

/*右侧意见反馈固定定位*/
#fixed{
	width:55px;
	height:40px;
	background-color:#A5DDD3;
	border-radius:3px;
	position:fixed;
	right:0px;
	top:300px;
	z-index:1000;
}
#fixed a{
	color:#fff;
	font-size:12px;
}
#fixed a b{
	width:18px;
	height:40px;
	background:url(../images/index/talk_icon.png) no-repeat center center;
	margin-left:2px;
}
#fixed a span{
	width:24px;
	height:40px;
	text-align:center;
	margin:3px 5px;
}
